h1 {
  font-size: 48px; line-height: 64px;
  margin: 8px 0;
}

.CodeMirror {
  height: 600px;
}

#overlay {
  background: rgba(255, 255, 255, 0.5);
  z-index: 1338;
  pointer-events: none;
  position: absolute; left: 0; right: 0; top: 0; bottom: 0;
}

/* only CodeMirror v3 can do that */
.cm-header { font-size: 150%; font-family: Helvetica, Arial, sans-serif; }